In [ ]:
###### Objective: To predict whether a a tweet sentiment is a negavtive or positive
Used Python 3 and Anaconda Jupyter Notebook For Creating The Poject
The Steps followed by me throughout the project were as follows
1) Understanding the Dataset
2) Importing The required Models
3) Data Cleaning (treating missing values, check for colrelations,dropping less sisgnificant values)
4) Model Building
5) Prediction
6) Checking the Accuracy

In [188]:
import nltk
import numpy as np
import pandas as pd

In [189]:
data=pd.read_csv('sentiment.tsv', sep='\t',names=['senti', 'tweet'], header=None)

In [190]:
data.head()

  senti                                              tweet
0   neg  @jamielewislewis i cant believe it, it really ...
1   pos  having a vodka tonic and looking forward to go...
2   pos  @ddlovatofans1neg1 Could you follow me please....
3   pos  @jordanknight for once.................. PLEAS...
4   neg  Had a dream about a walk in fast food resturau...

In [191]:
print(data)

     senti                                              tweet
0      neg  @jamielewislewis i cant believe it, it really ...
1      pos  having a vodka tonic and looking forward to go...
2      pos  @ddlovatofans1neg1 Could you follow me please....
3      pos  @jordanknight for once.................. PLEAS...
4      neg  Had a dream about a walk in fast food resturau...
5      pos  @TroyBrownBBNews Yes... For a &quot;friend&quot;
6      pos                       Packing for work expierance
7      neg  hates @internet @explrer (angry)(angry) **but ...
8      neg  @federalcase  I said I go out for eat 5:negneg...
9      neg  @babykates7 yeah they won't do the surgery til...
10     pos       @BritRuxpin. I say answering with no pants.
11     neg  Am in the place called negUT OF NOW WHERE!! Ta...
12     neg  3am, still up.. flying to LA ltr 8am..hayyy sl...
13     neg  2 down, 8 to go...looks like i wont be getting...
14     neg     It's Increible How Someone Forgot U Soo Fast!
15     neg  That little girl holly!  find some time! Aw, s...
16     neg  Aapko huyi asuvidha ke liye hume khed hay Trai...
17     neg  @brightondoll ugh, me too. 3:pos5 and going st...
18     neg          Will be back when I think everyone is up
19     pos  &quot;so we keep waitin, waitin , waitin on th...
20     neg  @carposdave sinus infection.    the whole left...
21     neg  @twilighterNY I've seen the pics but only on m...
22     neg  @Streyeder I wish I had time or extracurricula...
23     pos  @ms_cornwall night you, may your dreams be won...
24     pos  Star Wars: Old Republic: http://digg.com/d1sgu...
25     pos                You could be my punk rock princess
26     neg  @YukiB Iknow, I am just jealous and hate to be...
27     pos  19 more sleeps untill Take That ahhhhhhhhhhhhhhh
28     pos  aaaw! my moms crying. She loved the mixed tape...
29     neg                 @Velf79 Missed you last night hon
...    ...                                                ...
1971   pos            @Animadi You're welcome and thank you.
1972   neg  Another rainy day in Lititz, PA.    On the up ...
1973   neg  @dovwaterman I'm not a BAFTA member so clearly...
1974   pos                        @zealandsmom Thx for that!
1975   neg  On my way to school... Thinking I may have don...
1976   pos  @toyhorses Exellent, I'll be over about 1:3neg...
1977   pos  watching im a celebrity.....get me out of here...
1978   pos  @davynathan of course we r!! BHs r nothing if ...
1979   pos     @MrPeterAndre no problem Pete hope you are ok
1980   pos  @successfool You know it PIC!  I believe in yo...
1981   pos                               Hanging out at home
1982   neg  Debating taking the dogs down to bed &amp; giv...
1983   pos  @Andreaheartscgh @Catherine_andy Remember to y...
1984   neg              Caps  Well, there's always next year.
1985   pos  @khallwalker experience shows that sending the...
1986   pos                             bye bye twitter world
1987   neg  @ScruffyPanther oh no !  blocking them didn't ...
1988   neg             Not feelin great at alll this morning
1989   pos  just got done editing pix from yesterday's #gb...
1990   neg  All these good/new shows on tonight....and I'm...
1991   pos  @tinhet Hey you      It surprisingly didn't hu...
1992   pos  @childrensjewell @Bazzaa  Thank you  I will po...
1993   pos    Just smashed this Tommy's for my 2PM breakfast
1994   pos  @ionacosmetics spent yesterday outside myself-...
1995   neg  @PrimalMan You're so lucky! I used to have acc...
1996   neg  STILL @ panera...studying for &quot;mock&quot;...
1997   neg  Insomnia is out of control tonight--haven't sl...
1998   pos          @Covergirlneg8 I take pride in what I do
1999   pos                          heading to work on the 6
2000   pos                                   @queith asi es!

[2001 rows x 2 columns]

In [192]:
import re
from nltk.tokenize import word_tokenize
from string import punctuation 
from nltk.corpus import stopwords

In [193]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
stop = stopwords.words('english')

data['tweet'].apply(lambda x: len([x for x in x.split() if x in stop]))
data['tweet'].head()

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\admin\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

0    @jamielewislewis i cant believe it, it really ...
1    having a vodka tonic and looking forward to go...
2    @ddlovatofans1neg1 Could you follow me please....
3    @jordanknight for once.................. PLEAS...
4    Had a dream about a walk in fast food resturau...
Name: tweet, dtype: object

###### Removal of Stop Words

In [194]:
data['tweet'] = data['tweet'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
data['tweet'].head()

0    @jamielewislewis cant believe it, really doesn...
1    vodka tonic looking forward going Saddle Ranch...
2    @ddlovatofans1neg1 Could follow please.I would...
3    @jordanknight once.................. PLEASE TE...
4    Had dream walk fast food resturaunt sold ice c...
Name: tweet, dtype: object

######  calculating the number of hashtags or mentions present in it.

In [195]:
data['hastags'] = data['tweet'].apply(lambda x: len([x for x in x.split() if x.startswith('#')]))
data[['tweet','hastags']].head()

                                               tweet  hastags
0  @jamielewislewis cant believe it, really doesn...        0
1  vodka tonic looking forward going Saddle Ranch...        0
2  @ddlovatofans1neg1 Could follow please.I would...        0
3  @jordanknight once.................. PLEASE TE...        0
4  Had dream walk fast food resturaunt sold ice c...        0

###### pre-processing step which we will do is transform our tweets into lower case

In [196]:
data['tweet'] = data['tweet'].apply(lambda x: " ".join(x.lower() for x in x.split()))
data['tweet'].head()

0    @jamielewislewis cant believe it, really doesn...
1    vodka tonic looking forward going saddle ranch...
2    @ddlovatofans1neg1 could follow please.i would...
3    @jordanknight once.................. please te...
4    had dream walk fast food resturaunt sold ice c...
Name: tweet, dtype: object

######  Removing Punctuation

In [197]:
data['tweet'] = data['tweet'].str.replace('[^\w\s]','')
data['tweet'].head()

0    jamielewislewis cant believe it really doesnt ...
1    vodka tonic looking forward going saddle ranch...
2    ddlovatofans1neg1 could follow pleasei would r...
3    jordanknight once please tell us why u thinkin...
4    had dream walk fast food resturaunt sold ice c...
Name: tweet, dtype: object

###### calculate the number of numerics which are present in the tweets

In [198]:
data['numerics'] = data['tweet'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
data[['tweet','numerics']].head()

                                               tweet  numerics
0  jamielewislewis cant believe it really doesnt ...         0
1  vodka tonic looking forward going saddle ranch...         0
2  ddlovatofans1neg1 could follow pleasei would r...         0
3  jordanknight once please tell us why u thinkin...         0
4  had dream walk fast food resturaunt sold ice c...         0

######  removing commonly occurring words from our text data

In [199]:
freq = pd.Series(' '.join(data['tweet']).split()).value_counts()[:10]
freq

i        611
im       234
good     102
today     99
get       98
like      95
work      85
love      83
back      81
got       81
dtype: int64

In [200]:
freq = list(freq.index)
data['tweet'] = data['tweet'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
data['tweet'].head()

0    jamielewislewis cant believe it really doesnt ...
1    vodka tonic looking forward going saddle ranch...
2    ddlovatofans1neg1 could follow pleasei would r...
3    jordanknight once please tell us why u thinkin...
4    had dream walk fast food resturaunt sold ice c...
Name: tweet, dtype: object

######  removing rarely occurring words from the text.

In [201]:
freq = pd.Series(' '.join(data['tweet']).split()).value_counts()[-10:]
freq

classroom              1
culvers                1
keenthanx              1
oohh                   1
pshhhht                1
betcha                 1
httptwitpiccom5j3uq    1
dink                   1
ca                     1
normal                 1
dtype: int64

In [202]:
freq = list(freq.index)
data['tweet'] = data['tweet'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
data['tweet'].head()

0    jamielewislewis cant believe it really doesnt ...
1    vodka tonic looking forward going saddle ranch...
2    ddlovatofans1neg1 could follow pleasei would r...
3    jordanknight once please tell us why u thinkin...
4    had dream walk fast food resturaunt sold ice c...
Name: tweet, dtype: object

###### Spelling correction

In [203]:
import textblob
from textblob import TextBlob
data['tweet'][:5].apply(lambda x: str(TextBlob(x).correct()))

0    jamielewislewis can believe it really doesn be...
1    vodka tonic looking forward going saddle ranch...
2    ddlovatofans1neg1 could follow please would re...
3    jordanknight once please tell us why u thinkin...
4    had dream walk fast food restraint sold ice cr...
Name: tweet, dtype: object

###### Tokenization for dividing the text into a sequence of words or sentences.

In [204]:
import nltk
nltk.download('punkt')
TextBlob(data['tweet'][1]).words

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\admin\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

WordList(['vodka', 'tonic', 'looking', 'forward', 'going', 'saddle', 'ranch', 'westgate', 'husband', 'sans', 'kiddos'])

###### Stemming  for removal of suffices, like “ing”, “ly”, “s”, etc

In [205]:
from nltk.stem import PorterStemmer
st = PorterStemmer()
data['tweet'][:5].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

0    jamielewislewi cant believ it realli doesnt be...
1    vodka tonic look forward go saddl ranch westga...
2    ddlovatofans1neg1 could follow pleasei would r...
3    jordanknight onc pleas tell us whi u think person
4    had dream walk fast food resturaunt sold ice c...
Name: tweet, dtype: object

###### Lemmatization to  converts the word into its root word, rather than just stripping the suffices

In [206]:
nltk.download('wordnet')
from textblob import Word
data['tweet'] = data['tweet'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
data['tweet'].head()

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\admin\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

0    jamielewislewis cant believe it really doesnt ...
1    vodka tonic looking forward going saddle ranch...
2    ddlovatofans1neg1 could follow pleasei would r...
3    jordanknight once please tell u why u thinking...
4    had dream walk fast food resturaunt sold ice c...
Name: tweet, dtype: object

In [207]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(max_features=1000, lowercase=True, analyzer='word', stop_words= 'english',ngram_range=(1,1))
tfidf.fit_transform(data['tweet'])

<2001x1000 sparse matrix of type '<class 'numpy.float64'>'
	with 7593 stored elements in Compressed Sparse Row format>

###### Bag of Words (BoW)  to  represent  text which describes the presence of words within the text data

In [208]:
from sklearn.feature_extraction.text import CountVectorizer

count_vect = CountVectorizer()
counts = count_vect.fit_transform(data['tweet'])

from sklearn.decomposition.truncated_svd import TruncatedSVD        
pca = TruncatedSVD(n_components=2)                                
X_reduced_train = pca.fit_transform(counts)

In [209]:
X=counts
Y=data.values[:,0]

In [210]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size = 0.3)

In [211]:
from sklearn.model_selection import KFold 
from sklearn.model_selection import cross_val_score 
from sklearn.linear_model import LogisticRegression 
from sklearn.naive_bayes import GaussianNB 
from sklearn.tree import DecisionTreeClassifier 
from sklearn import model_selection 
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

In [212]:
models = []
models.append(('LR', LogisticRegression()))
models.append(('CART', DecisionTreeClassifier()))
models.append(('RF', RandomForestClassifier()))
models.append(('NB', GaussianNB()))

In [213]:
results = []
names = []
for name,model in models:
    kfold = model_selection.KFold(n_splits=10)
    cv_result = model_selection.cross_val_score(model,X_train.toarray(),Y_train, cv = kfold, scoring = "accuracy")
    names.append(name)
    results.append(cv_result)
for i in range(len(names)):
    print(names[i],results[i].mean())

LR 0.6542857142857144
CART 0.5792857142857142
RF 0.6100000000000001
NB 0.542142857142857

 Since logistic regression has greater accuracy we are building model using logistic regression

In [214]:
LogR = LogisticRegression()
LogR.fit(X_train,Y_train)
Y_pred = LogR.predict(X_test)

In [215]:
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

confusion_matrix=confusion_matrix(Y_test,Y_pred)
print(confusion_matrix)
print(accuracy_score(Y_test, Y_pred))

print(classification_report(Y_test, Y_pred))

accuracy_score=accuracy_score(Y_test, Y_pred)
print("Accuracy of the model:",accuracy_score)

[[200  99]
 [ 99 203]]
0.670549084858569
             precision    recall  f1-score   support

        neg       0.67      0.67      0.67       299
        pos       0.67      0.67      0.67       302

avg / total       0.67      0.67      0.67       601

Accuracy of the model: 0.670549084858569